[submodule "traffic-fc"]
	path = traffic-fc
	url = https://github.com/Ride2Rail/traffic-fc.git
[submodule "enviromental-fc"]
	path = enviromental-fc
	url = git@github.com:Ride2Rail/environmental-fc.git
[submodule "position-fc"]
	path = position-fc
	url = https://github.com/Ride2Rail/position-fc.git
[submodule "active-fc"]
	path = active-fc
	url = https://github.com/Ride2Rail/active-fc.git
[submodule "weather-fc"]
	path = weather-fc
	url = https://github.com/Ride2Rail/weather-fc.git
[submodule "price-fc"]
	path = price-fc
	url = https://github.com/Ride2Rail/price-fc.git
[submodule "tsp-fc"]
	path = tsp-fc
	url = https://github.com/Ride2Rail/tsp-fc.git
[submodule "trias-extractor"]
	path = trias-extractor
	url = https://github.com/Ride2Rail/trias-extractor.git
[submodule "time-fc"]
	path = time-fc
	url = https://github.com/Ride2Rail/time-fc.git
[submodule "panoramic-fc"]
	path = panoramic-fc
	url = https://github.com/Ride2Rail/panoramic-fc.git
